#mainWindow{
    -fx-background-size: 1200 800;
    -fx-background-image: url("nebula.jpg");
    -fx-background-position: center center;
}
#endDialogPane{
    -fx-background-size: 300 100;
    -fx-background-image: url("nebula.jpg");
    -fx-background-position: center center;
}
#leaderBoardPane{
    -fx-background-size: 600 400;
    -fx-background-image: url("nebula.jpg");
    -fx-background-position: center center;
}

#ship_graph{
    -fx-fill: Green;
    -fx-stroke-width: 3;
    -fx-stroke: rgb(1, 48, 14);
    -fx-fill-width: 50;
    -fx-fill-height: 50;

}

#alien_graph{
    -fx-fill: Red;
    -fx-stroke-width: 3;
    -fx-stroke: rgb(1, 48, 14);
}
.label{
    -fx-font-size: 16;
    -fx-font-family: Arial;
    -fx-text-fill: #bfff00;
}
